@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

.head1{
display: flex;
max-width: 80%;
justify-content: space-evenly;

}
.left{
    padding: 0.8rem;
    margin-left: 125px;
    font-size: 2rem;
    margin-top: 20px;
    color: red;
    
}
ul{
    display: flex;
    list-style : none;
    align-items: center;
   
    
}
.right{
    margin-top: 20px;
    margin-left: 240px;
    padding: 0.8rem;
    color: rgb(182, 55, 182);

}
#b{
    height: 40px;
    width: 80px;
    border: 2px solid violet;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
li{
    margin: 0 15px;
    font-size: 1.1rem;
}
hr{
    display: flex;
    max-width: 85%;
    margin-left: 120px;  
}
.section1{
    display: flex;
    
}

.secleft{
    max-width: 38%;
    margin-left: 150px;
    margin-top: 90px;
}
.secleft h3{
    padding: 1rem;
    font-size: 1.9rem;
}
.secleft p{
    margin-left: 40px;
    margin-right: 80px;
}
.secleft img{
    height: 35%;
    width: 60%;
    margin-left: 40px;
}
.secright{
    max-width: 50%;
    
}
.secright img{
    height: 80%;
    width: 80%;
    margin-top: 100px;
}

.section2{
    max-width: 80%;
    padding: 8rem;
    margin-left: 20px;
    
}
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
#para{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.1rem;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    margin-top: 30px;
}
.box1{
    border: 2px solid black;
    width: 38vb;
    height: 50vh;
   border-radius: 8px;
   font-size: 1.1rem;

}
.info h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.info h3{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
.info p {
    display: flex;
    justify-content: center;
    padding: 0.3rem
}
button{
    background-color: rgb(112, 51, 148);
    padding: 0.4rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

#compare{
    max-width: 80%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    font-size: 2rem;
}

.para{
display: flex;
justify-content: space-evenly;
padding: 1rem;
}
.para1{
    font-size: 1.1rem;
   
}
#hp1{
    margin-left: 110px;
    font-size: 1.1rem;
}
#hp2{
   
    font-size: 1.1rem;
}
#hp3{
    font-size: 1.1rem;
}
.brd{
    border: 1.5px solid black;
    width: 70%;
    margin-left: 200px;
}
.foot{
    margin-top: 6rem;
}
.foot p {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}